In [1]:
from sklearn.datasets import fetch_openml

data = fetch_openml('mnist_784', version=1)

## Convert your labels y into a multi-label format, by creating two columns:

    - Odd or Not: This column indicates whether the label is odd (True) or not (False).
    - Greater Than 5: This column indicates whether the label is greater than 5 (True) or not (False).

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9

## Odd Convert

## Greater than 5

You may use np.stack() to combine your columns

## Build a model that predict two labels

## Use the right metrics to evaluate your model